@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Sora:wght@600;700&family=Work+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Work Sans", sans-serif;
  }

  h3,
  h4 {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2 {
    font-family: "Sora", sans-serif;
  }
}
